<header class="navbar">
    <div class="logo">
        <a href="/home">
            <img src="/assets/logo.svg" alt="">
        </a>
        <h4>WeCare!</h4>
    </div>
    <div class="actions">
        <%= `Hi ${name.toUpperCase()}` %>
        <div class="dropdown">
            <i class="bi bi-box-arrow-right"></i>
            <div class="dropdown-content">
                <p onclick="logout()">Logout</p>
                <p onclick="logout_others()">Logout from other devices</p>
                <p onclick="logout_all()">Logout from all devices</p>
            </div>
          </div>
    </div>
</header>