<header class="navbar">
    <a style="text-decoration: none;color: black;" href="/home">
            <div class="logo">
            <img src="/assets/logo.svg" alt="">
            <h4>WeCare!</h4>
        </div>
    </a>
    <div class="actions">
        <%= `Hi ${name.toUpperCase()}` %>
        <i id="profileBtn" class="bi bi-person-circle"></i>
        <div class="dropdown">
            <i class="bi bi-box-arrow-right"></i>
            <div class="dropdown-content">
                <p onclick="logout()">Logout</p>
                <p onclick="logout_others()">Logout from other devices</p>
                <p onclick="logout_all()">Logout from all devices</p>
            </div>
          </div>
    </div>
</header>