<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/axios/axios.min.js"></script>
    <link rel="stylesheet" href="/icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Health & Wellness Management System | Home</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <h3>WeCare!</h3>
        </div>
        <div class="actions">
            <%= `Hi ${name.toUpperCase()}` %>
            <div class="dropdown">
                <i class="bi bi-box-arrow-right"></i>
                <div class="dropdown-content">
                    <p onclick="logout()">Logout</p>
                    <p>Logout from other devices</p>
                    <p>Logout from all devices</p>
                </div>
              </div>
        </div>
    </header>

    <main class="main_container">
        <div class="cards">
            <div class="card">
                <div class="heading">
                    <i class="bi bi-capsule"></i>
                    <h2>Medications</h2>
                </div>
                <p id="noOfMedications">0</p>
                <div class="action">
                    <i class="bi bi-prescription"></i>
                    <a href="/medications"><span>Your Medications</span></a>
                </div>
            </div>
            <div class="card">
                <div class="heading">
                    <i class="bi bi-clipboard-data"></i>
                    <h2>Reports</h2>
                </div>
                <p id="noOfReports">0</p>
                <div class="action">
                    <i class="bi bi-eye"></i>
                    <a href="/reports"><span>Your Reports</span></a>
                </div>
            </div>
        </div>
    </main>

    <!-- Script -->

    <script src="/javascripts/home.js"></script>

</body>
</html>