<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/axios/axios.min.js"></script>
    <link href="/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Health & Wellness Management System | Login</title>
</head>
<body>
    <div class="container">
        <form action="/login" method="post" id="user-login">
            <div class="logo">
                <img src="/assets/logo.svg" alt="">
                <h2>WeCare</h2>
            </div>
            <div class="fields">
                <div class="field">
                    <label for="email">Email</label>
                    <input class="inputs" type="text" placeholder="Email" name="email" id="email" autocomplete="off">
                    <span class="empty_validation_spans">Please Provide Email</span>
                    <span class="validation_spans" id="email_span">Please Provide Valid Email</span>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input class="inputs" type="password" placeholder="Password" name="password" id="password" >
                    <span class="empty_validation_spans">Please Provide Password</span>
                </div>
            </div>
            <p>Don't have an account? <a onclick="" href="/user-registration">Register</a></p>
            <input type="submit" value="Login" class="buttons">
        </form>
    </div>

    <!-- Script -->

    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <script src="/javascripts/login.js"></script>

</body>
</html>