<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Health & Wellness Management System | Login</title>
</head>
<body>
    <div class="container">
        <form action="/login" method="post">
            <div class="logo">
                <img src="/assets/logo.svg" alt="">
                <h2>WeCare</h2>
            </div>
            <div class="fields">
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" placeholder="Email" name="email" id="email" autocomplete="off" required>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" name="password" id="password" required>
                </div>
            </div>
            <input type="submit" value="Login" class="buttons">
        </form>
    </div>
</body>
</html>