<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeCare | Email Notification Component</title>
</head>
<body>
    <form action="http://localhost:3500/markAsDone" method="post">
        <h3 id="medicine_name"></h3>
        <p id="description"></p>
        <label for="markAsDone">Confirm Once!!</label>
        <input type="checkbox" name="markAsDone" id="markAsDone">
        <input type="submit" value="Submit">
    </form>
</body>
</html>