<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/axios/axios.min.js"></script>
    <link rel="stylesheet" href="/icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/medications.css">
    <title>Health & Wellness Management System | Medications</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <div class="heading">
            <h2>Medications</h2>
            <div class="main_btns">
                <div class="add" onclick="togglePopup()">
                    <i class="bi bi-plus-circle"></i>
                    <p>Add</p>
                </div>
            </div>
        </div>
        <table id="medication_table">
            <tr id="header_row">
            </tr>
        </table>

        <div class="pagination" id="med_pagination">
            <div class="pagination-box">
                <button id="leftMost" onclick="leftMost()"><<</button>
                <button id="left" onclick="left()"><</button>
                <p id="pageNo">1</p>
                <button id="right" onclick="right()">></button>
                <button id="rightMost" onclick="rightMost()">>></button>
            </div>
        </div>

    </div>

    <div id="popupOverlay" class="overlay-container">
        <div class="popup-box">
            <div class="modal_heading" id="modal_head">
                <i class="bi bi-capsule"></i>
                <h5>Add Medication</h2>
            </div>
            <div class="form-container" id="main_form">
            </div>
            <div class="btns" id="btn_sec">
                <span id="addBtn" class="btn-submit">Add</span>
                <span class="btn-close-popup" onclick="closeForm()">
                    Close
                </span>
            </div>
        </div>
    </div>

    <%- include("./partials/profile.ejs") %>


    <!-- Script -->

    <script src="/socket.io/socket.io.js"></script>
    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <script src="/javascripts/pagination.js"></script>
    <script src="/javascripts/modal_form.js"></script>
    <script src="/javascripts/updateMedication.js"></script>
    <script src="/javascripts/editMedication.js"></script>
    <script src="/javascripts/addMedication.js"></script>
    <script src="/javascripts/medications.js"></script>

</body>

</html>