<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/axios/axios.min.js"></script>
    <link href="/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>Health & Wellness Management System | Registration</title>
</head>
<body>
    <div class="container">
        <form action="/register" method="post" id="user-registration">
            <div class="logo">
                <img src="/assets/logo.svg" alt="">
                <h2>WeCare</h2>
            </div>
            <div class="fields">
                <div class="field">
                    <label for="fname">Firstname</label>
                    <input class="inputs" type="text" placeholder="Firstname" name="firstname" id="fname" autocomplete="off">
                    <span class="empty_validation_spans">Please Provide All Fields</span>
                </div>
                <div class="field">
                    <label for="lname">Lastname</label>
                    <input class="inputs" type="text" placeholder="Lastname" name="lastname" id="lname">
                    <span class="empty_validation_spans">Please Provide All Fields</span>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input class="inputs" type="text" placeholder="Email" name="email" id="email" autocomplete="off">
                    <span class="validation_spans" id="email_span">Please provide a valid email</span>
                    <span class="empty_validation_spans">Please Provide All Fields</span>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input class="inputs" type="password" placeholder="Password" name="password" id="password">
                    <span class="empty_validation_spans">Please Provide All Fields</span>
                </div>
            </div>
            <p>Already have an account? <a onclick="" href="/">Login</a></p>
            <input type="submit" value="Register" class="buttons">
        </form>
    </div>

    <!-- Script -->

    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <script src="/javascripts/register.js"></script>

</body>
</html>