<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/axios/axios.min.js"></script>
    <link rel="stylesheet" href="/icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/medications.css">
    <title>Health & Wellness Management System | Reports</title>
</head>

<body>
    <header class="navbar">
        <div class="logo">
            <h3>WeCare!</h3>
        </div>
        <div class="actions">
            <%= `Hi ${name.toUpperCase()}` %>
                <div class="dropdown">
                    <i class="bi bi-box-arrow-right"></i>
                    <div class="dropdown-content">
                        <p onclick="logout()">Logout</p>
                        <p onclick="logout_others()">Logout from other devices</p>
                        <p onclick="logout_all()">Logout from all devices</p>
                    </div>
                </div>
        </div>
    </header>
    <div class="container">
        <div class="heading">
            <h2>Reports</h2>
        </div>
        <table class="table" id="reports_table">
            <thead>
                <tr id="headerRow">
                    <th>ID</th>
                    <th>Report</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="data_rows"></tbody>
        </table>
    </div>

    <!-- Script -->

    <script src="/javascripts/reports.js"></script>

</body>

</html>