@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(219, 219, 219);
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.actions {
    display: flex;
    gap: 25px;
    align-items: center;
}

.actions i {
    cursor: pointer;
    font-size: 20px;
    transition: 200ms transform;
}

.actions i:hover {
    transform: scale(1.5);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    margin-bottom: 0;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    cursor: pointer;
    padding: 9px 14px;
}

.dropdown-content p:hover {
    background-color: #ccc;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 0;
}