@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(100, 100, 223);
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.actions {
    display: flex;
    gap: 25px;
    align-items: center;
}

.actions i {
    cursor: pointer;
    font-size: 20px;
    transition: 200ms transform;
}

.actions i:hover {
    transform: scale(1.5);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    margin-bottom: 0;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    cursor: pointer;
    padding: 9px 14px;
}

.dropdown-content p:hover {
    background-color: #ccc;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.main_container {
    margin-top: 25px;
}

.main_container .cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.main_container .cards .card {
    height: fit-content;
    min-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.card .heading {
    display: flex;
    gap: 15px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.heading i {
    font-size: 30px;
}

.card p {
    font-size: 30px;
    text-align: center;
}

.card .action {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(100, 100, 223);
    width: fit-content;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: 200ms all;
}

.card .action a {
    text-decoration: none;
    color: #fff;
    border-radius: 12px;
}

.card .action:hover{
    opacity: 0.6;
}

.card .action:active {
    transform: scale(0.8);
}