.container {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-top: 25px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.main_btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main_btns .buttons {
    background-color: rgb(100, 100, 223);
    border-radius: 12px;
    color: #fff;
    padding: 12px 14px;
    cursor: pointer;
    transition: 200ms all;
}

.main_btns .buttons:hover {
    opacity: 0.6;
}

.main_btns .buttons:active {
    transform: scale(0.8);
}

.heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.heading h2 {
    margin-bottom: 0;
}

.heading .add {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgb(100, 100, 223);
    border-radius: 12px;
    color: #fff;
    padding: 4px 14px;
    cursor: pointer;
    transition: 200ms all;
}

.heading .add:hover {
    opacity: 0.6;
}

.heading .add:active {
    transform: scale(0.8);
}

.heading .add p {
    margin-bottom: 0;
}

.heading .add i {
    font-size: 24px;
}

.heading .add p {
    font-size: 20px;
}

.modal_heading {
    display: flex;
    align-items: center;
    gap: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.modal_heading i {
    font-size: 22px;
}

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup-box {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    min-width: 700px;
    max-height: 550px;
    overflow-y: scroll;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.type_select {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.type_select p {
    text-align: start;
    margin-bottom: 0;
}

.radio_inputs {
    display: flex;
    align-items: center;
    gap: 12px;
}

.fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    text-align: left;
}

.form-input {
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn-submit,
.btn-close-popup {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-submit {
    background-color: rgb(100, 100, 223);
    color: #fff;
    transition: 0.4s opacity;
}

.btn-close-popup {
    margin-top: 12px;
    background-color: #e74c3c;
    color: #fff;
    transition: 0.4s opacity;
}

.btn-submit:hover,
.btn-close-popup:hover {
    opacity: 0.8;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay-container.show {
    display: flex;
    opacity: 1;
}

/* Pagination */

#medication_table {
    border-collapse: collapse;
}

.headings {
    padding: 10px 20px;
    text-transform: uppercase;
    color: #6C6C6C;
}

.data {
    padding: 10px 20px;
}

.pagination {
    display: flex;
    justify-content: end;
}

.pagination-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pagination-box button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(100, 100, 223);
    border: grey;
    border-radius: 50%;
    outline: 2px solid #fff;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    transition: 0.4s all;
}

.pagination-box button:active {
    transform: scale(0.7);
}

.pagination-box button:hover {
    opacity: 0.8;
}

.pagination-box p {
    cursor: none;
    padding: 10px 20px;
    background-color: rgb(100, 100, 223);
    border: grey;
    border-radius: 50%;
    outline: 2px solid #fff;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    transition: 0.4s all;
    margin-left: 20px;
    margin-right: 20px;
}
